<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="post-card">
    <a href="/post/{{this.id}}"><h2>{{post.name}}</h2></a>
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
    <div class="post-card-content">
        <p>{{post.content}}</p>
    </div>
</div>
{{/each}}