<div class='text-center'>
  <h2>{{name}}</h2>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p class='text-area'>{{content}}</p>
  <button class='update-btn'>Update Post</button>
  <button class='save-btn' style='display: none' data-id='{{id}}'>Save update</button>
  <button class='delete-btn' data-id='{{id}}'>Delete Post</button>

  <!-- Comments Section -->
  <div class='comments-section'>
    <h3>Comments</h3>
    {{#each comments as |comment|}}
      <div class='comment'>
        <p><strong>{{user.name}}</strong> - {{format_date date_created}}</p>
        <p>{{comment.content}}</p>
      </div>
    {{/each}}
  </div>

  <!-- Comment Form -->
  <div class='form-group'>
    <label for='comment-content'>Comment:</label>
    <textarea
      class='form-input'
      id='comment-content'
      name='comment-content'
    ></textarea>
    <button class='commentBtn btn btn-primary'>Submit Comment</button>
  </div>
</div>

<script src='/js/updatePost.js'></script>
<script src='/js/comment.js'></script>